@import url("footer_6.css");
@import url('fontface.css');

.bg-home img {
    width: 100%;
    height: 100%;
}

.bg-home {
    position: relative;
    width: 100%;
}

.bg-home .content_feed_6_back {
    position: absolute;
    text-align: center;
}

.bg-home .img {
    display: block;
    height: auto;
    width: 100%;
}

.img_pro {
    position: relative;
    width: 100%;
}

.image_config > img {
    display: block;
    height: auto;
    width: 100%;
}

.image_config > h1 {
    margin: 0 auto;
    font-size: 50px;
    position: absolute;
    text-align: center;
    color: #0123a9;;
    font-weight: bold;
    vertical-align: middle;
    font-family: monsterBold;
    padding-top: 90px;
    width: 100%;
    padding-bottom: 90px;
    background: rgba(255, 255, 255, 0.47);
}

.image_config > span {
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    color: red;
    vertical-align: middle;
    padding-top: 55px;
}

.btn_config {
    position: absolute;
    right: 2%;
    bottom: 8%;
}

.btn_config .btn_small {
    width: 80px;
    height: 80px;
    background: #33d5fe;
    border-radius: 40px;
    z-index: 1;
    margin-top: -123px;
    margin-left: 38px;
}

.btn_config .btn_lag {
    width: 160px;
    height: 160px;
    background: rgba(254, 245, 238, 0.47);
    border-radius: 80px;
    z-index: 0;
    margin-top: -66px;
}

.btn_small > span {
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding: 14px;
}

.view_num {
    margin: 25px 0;
    padding-left: 30px;
}

.view_num span {
    font-size: 40px;
    color: #a2a6c6;
    padding:20px;
}

.view_num span p {
    font-size: 40px;
    font-family: monsterRegular;
    color: #a2a6c6;
    display: initial;
}

.content_page_6 {
    margin: 25px 15px;
    margin-bottom: 150px;
    padding: 40px;
}

.content_page_6 h1 {
    font-family: monsterBold;
    color: #02145a;
    font-weight: bold;
    font-size: 62px;
}

.content_page_6 > a {
    color: #a2a6c6 !important;
    font-family: monsterBold;
    font-size: 30px;
}

.content_page_6 p {
    font-family: monsterLight;
    color: #02145a;
    font-weight: bold;
    font-size: 30px;
}