@import url('fontface.css');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

.content_feed_10 {
    width: 100%;
}

.title {
    padding-top: 70px;
}

.row {
    margin-right: 0px !important;
}

.bg-home {
    background-image: url("../images/bg10.png");
    background-size: cover;
    height: 444px;
}

.header h1 {
    font-family: monsterBold;
    color: #02145a;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 150px;
}

.title .content_feed_10_back {
    font-size: 90px;
    font-weight: bold;
    color: #02145a;
}

.title_10 {
    background-color: #ffd1c9;
    height: 140px;
    display: inherit;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #33d5fe;
    margin: 30px 30px 0px;
}

.title_config {
    margin: 30px 0;
}

.title_config h1 {
    color: #fff;
    font-family: monsterLight;
}

.media-body {
    padding: 25px 15px;
}

.media img {
    width: 260px;
    height: 260px;
}
.media{
    border-bottom: 2px solid #ffbbb8;
    margin-top: 0px !important; ;
}

.media-heading {
    color: #02145a;
    font-family: monsterBold;
    font-size: 30px;
}
.media-body span {
    color: #02145a;
    font-family: monsterLight;
    font-size: 30px;
}
.media-right .fa{
    vertical-align: middle;
    color:#02145a ;
    font-size: 80px;
    padding: 70px 40px;
}
.circle_2{
    background: #fb5d5e;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 30px 30px 0px;
}