@import url("footer.css");
@import url("fontface.css");

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg-home {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

h1, p {
    font-family: monsterBold;
    font-size: 50px;
}

p {
    font-size: 24px;
    font-family: monsterLight;
}

.config_1 {
    margin-right: 0;
    margin-left: 0;
}

.config_plus {
    background: url(../images/plus.png);
    font-size: 60px;
    text-align: center;
    z-index: 999;
    padding: 75px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 57px;
}

.config_2 {
    padding-bottom: 230px;
}

.config_h1 {
    text-align: center;
    margin-top: 90px;
}

.config_h1_bottom {
    font-size: 80px;
}

.content_1 img {
    vertical-align: middle;
    width: 28%;
    margin-top: 94px;
    margin-bottom: 268px;
}

.content_1 h1 {
    color: #02145a;
    font-weight: bold;
}

.img_cf {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content2 {
    margin-top: 50px;
}

.config_p {
    font-size: 34px;
    text-align: center;
    padding: 50px;
}

.coaching {
    padding-left: 15px;
}

.btn_config {
    padding-top: 90px;
    top: 50%;
    left: 50%;
}

.btn_config .btn_small {
    width: 220px;
    height: 220px;
    background: #fb5b62;
    border-radius: 110px;
    z-index: 1;
    margin: auto;
    margin-top: -288px;
}

.btn_config .btn_small:hover {
    background: rgba(251, 91, 98, 0.63);
}

.btn_config .btn_lag {
    width: 360px;
    height: 360px;
    background: rgba(254, 245, 238, 0.37);
    border-radius: 180px;
    z-index: 0;
    margin: auto;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 640px) and (orientation: landscape) {
    .config_2 {
        margin: 50px;
        padding-bottom: 230px;
    }
}

@media only screen and (min-device-width: 640px) and (max-device-width: 800px) and (orientation: landscape) {
    #footer {
        margin-left: -15px;
        width: 100%;
    }

    .config_2 {
        margin: 50px;
        padding-bottom: 230px;
    }

    #exTab1 .nav-pills > li {
        padding: 0 42px;
    }

    .btn_config {
        padding-top: 230px;
    }
}

@media only screen and (min-device-width: 1336px) and (orientation: landscape) {
    .config_2 {
        margin: 50px;
        padding-bottom: 230px;
    }

    .btn_config {
        padding-top: 250px;
        top: 50%;
        left: 50%;
    }
}