@import "footer_6.scss";
@import "fontface.scss";

.bg-home {
    position: relative;
    width: 100%;
    margin-top: 20px;
    img {
        width: 100%;
        height: 100%;
    }
    .content_feed_6_back {
        position: absolute;
        text-align: center;
    }
    .img {
        display: block;
        height: auto;
        width: 100%;
    }
}

.img_pro {
    position: relative;
    width: 100%;
}

.image_config {
    > img {
        display: block;
        height: auto;
        width: 100%;
    }
    > h1 {
        margin: 0 auto;
        font-size: 18px;
        position: absolute;
        text-align: center;
        color: #0123a9;;
        font-weight: bold;
        vertical-align: middle;
        font-family: monsterBold;
        width: 100%;
        background: rgba(255, 255, 255, 0.47);
    }
    > span {
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        text-align: center;
        color: red;
        vertical-align: middle;
    }
}

.btn_config {
    position: absolute;
    right: 2%;
    bottom: 8%;
    .btn_small {
        width: 30px;
        height: 30px;
        background: #33d5fe;
        border-radius: 50%;
        z-index: 1;
        margin-top: -10px;
        margin-left: 38px;
    }
    .btn_lag {
        width: 60px;
        height: 60px;
        background: rgba(254, 245, 238, 0.47);
        border-radius: 50%;
        z-index: 0;
        margin-top: -30px;
    }
    > span {
        font-size: 18px;
        text-align: center;
        color: #fff;
        padding: 14px;
    }
}

.view_num {
    margin: 25px 0;
    padding-left: 30px;
    span {
        font-size: 16px;
        color: #a2a6c6;
        padding:20px;
    }
    span {
        p {
            font-size: 16px;
            font-family: monsterRegular;
            color: #a2a6c6;
            display: initial;
        }
    }
}

.content_page_6 {
    margin: 25px 15px;
    padding: 40px;
    h1 {
        font-family: monsterBold;
        color: #02145a;
        font-weight: bold;
        font-size: 16px;
    }
    > a {
        color: #a2a6c6 !important;
        font-family: monsterBold;
        font-size: 16px;
    }
    p {
        font-family: monsterLight;
        color: #02145a;
        font-weight: bold;
        font-size: 16px;
    }
}