@import "global.scss";
@import "footer.scss";
@import "fontface.scss";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ffbeb1 !important;
}

h1, p {
  font-family: monsterBold;
  font-size: 50px;
}

p {
  font-size: 24px;
  font-family: monsterLight;
}

.bg-home {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.content_feed_2 {
  position: relative;
  padding-top: 10px;
  background: #fa6c66;
  width: 100%;
  .content_feed_2_close {
    background: url("../images/icon_close.png");
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .content_feed_2_close:hover {
    width: 40px;
    height: 80px;
  }
  .newfeed_line {
    background: url(../images/bg3.png);
    height: 30px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
    position: relative;
    background-position: bottom;
    top: 6px;
  }
  h1 {
    font-family: monsterBold;
    color: #02145a;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
  .newfeed_2_bn {
    text-align: center;
    .newfeed_2_bn_left {
      width: 30px;
      height: 30px;
      background: url(../images/bn_top.png) 0 0;
      display: inline-block;
      background-size: cover;
    }
    .newfeed_2_bn_right {
      width: 30px;
      height: 30px;
      background: url(../images/bn_top.png) 30px 0;
      display: inline-block;
      background-size: cover;
    }
  }
  .newfeed_2_top {
    height: 120px;
    text-align: center;
    position: relative;
    z-index: 99999;
    p {
      font-family: monsterLight;
      color: #02145a;
      font-weight: bold;
      font-size: 16px;
    }
  }
  .newfeed_line {
    background: url(../images/bg3.png);
    height: 30px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -25px;
    position: relative;
    top: 6px;
  }
  .content_feed_3_back {
    background: url(../images/icon_pre.png);
    width: 30px;
    height: 35px;
    float: left;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 10px;
  }
  .content_feed_3_back:hover {
  }
}

.content_link {
  text-align: center;
  background-color: #FFBEB1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  .newfeed-3_group {
    padding: 40px;
  }
  .content_feed_3_choose {
    font-size: 40px;
    font-family: monsterBold;
    color: #02145a;
  }
  .btn_link {
    margin: 14px 20px;
    border: 1px solid #02145a;
    border-radius: 40px;
    color: #02145a;
    font-size: 36px;
    a {
      color: #02145a;
      font-size: 40px;
    }
  }
  .btn_link:hover {
    background: rgba(2, 20, 90, 0.43);
    border: 1px solid #02145a;
  }
  .btn_link:active {
    background: rgba(2, 20, 90, 0.43);
    border: 1px solid #02145a;
  }
  .btn_link:focus {
    background: rgba(2, 20, 90, 0.43);
    border: 1px solid #02145a;
  }
  .cate-chil {
    font-family: monsterBold;
    color: #02145a;
    font-size: 18px;
    border-radius: 20px;
    background: transparent;
  }
  .cate {
    margin: 5px;
    font-family: monsterLight;
    color: #02145a;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #02145a;
    .cate-active {
      background: #BF919E;
    }
  }
}

/*Begin newfeedstarted*/
.newfeed_starten {
  background: url(../images/bg_newfeed2_conbutton.png);
  background-repeat: no-repeat;
  height: 40px;
  position: fixed;
  bottom: 48px;
  width: 100%;
  border-top: 2px solid #fff3f6;
  text-align: center;
  h1 {
    color: #fff;
    font-family: monsterBold;
    font-size: 18px;
    line-height: 3px;
  }
}

#footer {
  border-top: 1px solid #fff3f6;
  -moz-box-shadow: 0px -0px 0px #fff;
  -webkit-box-shadow: 0px -0px 0px #fff;
  box-shadow: 0px -0px 0px #fff;
  bottom: 0px !important;
  position: fixed;
  background: #fff;
  /*margin-left: -15px;*/
  width: 100%;
}

.cate-active {
  background: #BF919E !important;
}