<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pre Articles</title>
    <link rel="stylesheet" href="css/style_4.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script type="text/javascript" src="libs/angular-cookies.js"></script>
    <script type="text/javascript" src="js/deniNewFeed4.js"></script>
</head>
<body>
<div class="page_4" data-ng-controller="newFeed4" data-ng-app="deniApp">
    <div class="container-fluid" style="padding: 0 30px;">
        <div class="header">
            <div class="row">
                <div class="title">
                    <h1 class="col-xs-offset-3 col-xs-6">DEIN NEWSFEED</h1>
                    <span class="col-xs-1 fa fa-bookmark-o "></span>
                </div>
            </div>
            <div class="row btn_config">
                <a href="#">
                    <div class="col-xs-12" style="">
                        <div class="btn_lag"></div>
                        <div class="btn_small" data-ng-click="back_to_newfeed3()">
                            <span class="config_plus" style="font-size: 20px; text-align: center;color: #fff"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row pro_config">
            <div class="content">
                <h1>{{show.title}} <br>{{show.description}}</h1>
            </div>
        </div>
        <div ng-repeat="(keyPre,value) in show.pre_articles">
            <div class="row row pad_row" data-ng-if="keyPre < 2" data-ng-click="savePreArticles(keyPre)">
                <div class="col-xs-12 img_pro">
                    <div class="node" data-ng-style="randomColorIcon()"></div>
                    <a href="#" class="thumbnail">
                        <h1>{{value.articles.length}}</h1>
                        <p style="left: 25%;">{{value.title}}</p>
                        <img data-ng-src="images/newfeed_4/{{value.image}}" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-xs-6" data-ng-if="keyPre > 1" data-ng-click="savePreArticles(key)">
                <div class="node" data-ng-style="randomColorIcon()"></div>
                <a href="#" class="thumbnail" style="height: 360px">
                    <span>{{value.title}}</span>
                    <h1>{{value.articles.length}}</h1>
                    <img data-ng-src="images/newfeed_4/{{value.image}}" alt="..." style="height: 348px;">
                </a>
            </div>
        </div>
        <div class="cleafix" style="margin-bottom:230px;height: 300px"></div>
        <div class="" id="footer">
            <div id="exTab1" class="col-xs-12">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="" data-toggle="tab"><span class="fa fa-th-large"></span>
                            <p style="text-align: center;vertical-align: middle">News</p>
                        </a>
                    </li>
                    <li>
                        <a href="" data-toggle="tab"><span class="fa fa-graduation-cap coaching"></span>
                            <p style="text-align: center;vertical-align: middle">Coachings</p>
                        </a>
                    </li>
                    <li>
                        <a href="" data-toggle="tab"><span class="fa fa-comment-o"></span><br>
                            <p style="text-align: center;vertical-align: middle">Zenzai</p>
                        </a>
                    </li>
                    <li>
                        <a href="" data-toggle="tab"><span class="fa  fa-shopping-cart"></span>
                            <p style="text-align: center;vertical-align: middle">Shop</p>
                        </a>
                    </li>
                    <li>
                        <a href="" data-toggle="tab"><span class="fa fa-user-o"></span>
                            <p style="text-align: center;vertical-align: middle">Profile</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>