<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sub Categories</title>
    <link rel="stylesheet" href="css/style_3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script type="text/javascript" src="libs/angular-cookies.js"></script>
    <script type="text/javascript" src="js/newsfeed3.js"></script>
</head>
<body>
<div class="container-fluid bg-home" data-ng-controller="newFeedCtrl" data-ng-app="deniApp">
    <!--START content_feed_2-->
    <div class="content_feed_2">
        <div class="col-xs-12">
            <span class="col-xs-1 content_feed_3_back"></span>
            <h1 class="col-xs-offset-2 col-xs-6">DEIN NEWSFEED</h1>
            <span class="col-xs-1 content_feed_2_close"></span>
        </div>
        <div class="row"></div>
        <div class="newfeed_2_bn">
            <div class="newfeed_2_bn_left"></div>
            <div class="newfeed_2_bn_right"></div>
        </div>

        <div class="newfeed_2_top">
            <p>
                Werde speziﬁscher....
            </p>
        </div>

        <div class="newfeed_line"></div>

    </div>
    <!--END content_feed_2-->

    <div class="content_link">
        <div class="container col-xs-12 newfeed-3_group" data-ng-repeat="(keyCat,cat) in show">
            <p class="content_feed_3_choose">{{cat.title}}</p>
            <a href="" class="btn btn-lg btn_link" data-ng-repeat="(keySub, subSategory) in cat.sub_category"
               data-ng-click="saveKey(keyCat,keySub)">{{subSategory.title}}</a>
        </div>
    </div>
    <div class="row" style="clear: both; margin-bottom: 300px;"></div>
    <!--BEGIN NEWFEDD STARTED-->
    <div class="newfeed_starten newfeed_starten_btn" data-ng-click="newfeed_starten_btn()">
        <h1>Newsfeed starten
        </h1>
    </div>
    <!--END NEWFEED STARTED-->

    <div class="" id="footer">
        <div id="exTab1" class="col-xs-12">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="" data-toggle="tab"><span class="fa fa-th-large"></span>
                        <p style="text-align: center;vertical-align: middle">News</p>
                    </a>
                </li>
                <li>
                    <a href="" data-toggle="tab"><span class="fa fa-graduation-cap coaching"></span>
                        <p style="text-align: center;vertical-align: middle">Coachings</p>
                    </a>
                </li>
                <li>
                    <a href="" data-toggle="tab"><span class="fa fa-comment-o"></span><br>
                        <p style="text-align: center;vertical-align: middle">Zenzai</p>
                    </a>
                </li>
                <li>
                    <a href="" data-toggle="tab"><span class="fa  fa-shopping-cart"></span>
                        <p style="text-align: center;vertical-align: middle">Shop</p>
                    </a>
                </li>
                <li>
                    <a href="" data-toggle="tab"><span class="fa fa-user-o"></span>
                        <p style="text-align: center;vertical-align: middle">Profile</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>